table {
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
	text-transform: capitalize;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: cyan;
	color: black;
	cursor: pointer;
}
